.room_info_container{
    height: 100%;
    @include flex-center;
    flex-direction: column;

    @media (max-width: $mobile-view){
        position: absolute;
        margin: 0;
        top: 35%;
        right: -20px;
        transform: translate(100%, -50%);
        transition: transform 1s ease-in-out;

        background-color: $theme-color-light;
        z-index: 2;

        span button {
            left: -50px;
            
            transform: rotate(180deg);
        }
    }
}

.options{

    margin-top: 10px;

    height: 80px;

    @include flex-center(space-between, center);
    flex-direction: column;

    textarea{
        opacity: 0;
        pointer-events: none;
    }

}

.active{
    transform: translate(0%, -50%);
}



//* User Container Style

.room_users{
    width: 100%;
    height: 90%;

    padding-top: 20px;

    overflow: auto;

    @include flex-center(flex-start);
    flex-direction: column;
    gap: 15px;
}





//* User Info Style

.room_user_info{
    @include flex-center(space-evenly);

    width: 200px;


    color: rgb(85, 85, 85);

    .profilePic{
        @include flex-center;
    }

    img {
        border-radius: 50%;
    }
    
    .online {
        border: 2px solid $secondary-theme-color;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .displayName{
        width: 60%;
        @include flex-center;
    }

    .online_displayName{
        color: white;
    }

}