$theme-color: hsl(246, 31%, 6%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 60.5%;
}

body{
    font-family: "Poppins";
    overflow: hidden;
    background-color: $theme-color;

    font-size: 1.4rem;
}

h1{
    font-size: 3.5rem;
}

button{
    border: none;
    outline: none;

    cursor: pointer;
    display: block;

    font-family: "Poppins";
    font-size: 1.2rem;
}

input {
    border:none;
    color: white;
    padding-left: 10px;
    font-family: 'Poppins';
    &:focus{
        outline: 2px solid $theme-color-lighter;
    }
}

label{
    display: block;
}