.messageWraper{
    @include flex-center(space-around, flex-start);

    .options{
        min-width: 80px;
        width: auto;
        @include flex-center;


        @media (max-width: $mobile-view){
            min-width: 40px;       
        }
    

    }

    button {
        background-color: transparent;
        color: $theme-color-lighter;

        @media (max-width: $mobile-view){
            font-size: 1rem;       
        }

    }
}




.messageContaienr{
    width: 90%;
    min-height: 70px;
    height: auto;
    
    background-color: $theme-color-light;

    margin-bottom: 25px;
    border-radius: 10px;
    color: white;

    @include flex-center(space-between, flex-start);

    overflow: hidden;


    .userInfo{

        height: 100%;
        min-width: 140px;
        width: auto;

        margin-top: 8px;

        display: flex;
        justify-content: space-between;


        .profilePic{
            height: 55px;
            width: 55px;
            border-radius: 50%;
            flex-shrink: 0;
            background-color: $theme-color-lighter;
            margin-left: 10px;

            overflow: hidden;
        }

        
        span {
            display: block;
        }
        
        .textStuff{
            margin-left: 10px;
        }
        .messageTime{
            font-size: 0.8rem;
            color: #bfbbd8 ;
        }
    }


    .message{   
        margin-left: 20px;

        width: 89%;
        padding: 10px;
        margin-right: 20px;
    }
}