.chat{
    width: 90vw;
    height: 75vh;

    background-color: $theme-color-light;

    border-radius: 20px;
    @include flex-center(flex-start);

    margin-right: 10px;

    @media (max-width: $mobile-view){
        justify-content: center;
        margin-right: 0px;
        margin-bottom: 20px;


    }

}


//* Chat Section
.chat_section{

    //! REMOVE
    margin-left: 20px;

    width: 80%;
    height: 95%;
    background-color: $theme-color;

    position: relative;

    border-radius: 20px;


    @media (max-width: $mobile-view){
        width: 95%;
        margin-left: 0;
    }


    form {
        width: 100%;
        @include flex-center;

        button {
            background-color: $secondary-theme-color;
            height: 30px;
            width: 70px;

            font-size: 2.5rem;

            border-bottom-right-radius: 20px;
        }

    }

    input{
        width: 90%;
        height: 30px;

        background-color: $theme-color-light;
        border-bottom-left-radius: 20px;

    }

    .chat_messages{
        width: 100%;
        height: 90%;

        padding-left: 10px;
        padding-top: 10px;

        overflow: auto;
    }

}