$theme-color: hsl(246, 31%, 6%);
$theme-color-light: hsl(247, 27%, 13%);
$theme-color-lighter: hsl(243, 14%, 30%);
$theme-color-lightest: hsl(240, 10%, 43%);

$main-butten-hover: hsl(246, 31%, 9%);

$default-border-radius: 20px;
$secondary-theme-color: #37DE8E;
$error-color: #db4646;

$default-font: "Poppins";


$mobile-view: 650px;