$theme-color: hsl(246, 31%, 6%);
$theme-color-light: hsl(247, 28%, 13%);
$theme-color-lighter: hsl(243, 14%, 30%);
$theme-color-lightest: hsl(240, 10%, 43%);


$default-border-radius: 20px;
$secondary-theme-color: #5BBAB4;
$default-font: "Poppins";


$mobile-view: 650px;